<header>
<h2 class="books">Books</h2>
</header>

<main>
<div class="hon">
  <p class="tit">Title</p>
  <% @books.each do |book| %>
  <p><%= book.title %></p>
  <% end %>
</div>

<div class="naiyou">
  <p class="bod">Body</p>
  <% @books.each do |book| %>
  <p><%= book.body %></p>
</div>
  <% end %>
<div class="page">
<% @books.each do |book| %>
  <p><%= link_to "Show", book_path(book.id),method: :get %> <%= link_to "Edit", edit_book_path(book.id),method: :get %> <%= link_to "Delete", @book, method: :delete %></p>
<% end %>
</div>

</main>

<footer>
  <h3>New book</h3>
<%= form_with model:@book, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %><br>
  <%= f.submit"Create Book" %>
  <% end %>
</footer>