<header>
<h1 class="books">Books</h1>
</header>

<main>
<div class="hon">
  <p class="tit">Title</p>
  <% @books.each do |book| %>
  <p><%= book.title, book_path(book.id)%></p>
  <% end %>
</div>

<div class="naiyou">
  <p class="bod">Body</p>
  <% @books.each do |book| %>
  <p><%= book.body,book_path(book.id) %></p>
</div>
  <% end %>
<div class="page">
  <% @books.each do |book| %>
  <p> <%= link_to "Show", book_path(book.id) %> <%= link_to "Edit", edit_book_path(@book) %> <%= link_to "Delete", book_path(@book), method: :delete %></p>
</div>
  <% end %>
</main>

<footer>
  <h2>New book</h2>
<%= from_with model:@book, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <%= submit"Create Book" %>
</footer>