<div class="noti"><%= notice %></div>

<div class="sho"><span>Title:</span> <%= @book.title %></div>

<div class="sho"><span>Body:</span> <%= @book.body %></div>

<div class="henkou"><%= link_to "Edit", edit_book_path(@book.id),method: :get %> | <%= link_to "Back", books_path %></div>